# This is Git's per-user configuration file.
[user]
	name = Felix Steinmetz
	email = fsteinme@rhrk.uni-kl.de
# Please adapt and uncomment the following lines:
#	name = Felix
#	email = fsteinme@rhrk.uni-kl.de
[core]
	excludesfile = /Users/fsteinme/.gitignore_global
	editor = vim
