#Config Specific
TEMPLATE_HOME="$HOME/.templates"

#System Specific
OBSIDIAN_PATH="/Users/fsteinme/Library/Mobile Documents/iCloud~md~obsidian/Documents/PersonalVault"

#determine light weight editor
alias lw_editor='open -a TextMate'

